:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  padding: 20px;
  min-width: 50px;
  min-height: 50px;
  max-width: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.image {
  object-fit: cover;
  position: relative;
  margin: 20px 0 10px;
  min-width: 0;
  min-height: 0;
}
